.header {
  display: flex;
  border: 1px solid var(--color-primary);
  margin: 0.5rem;
  padding: 0 0.5rem;
  text-underline-position: auto;

  > div {
    margin: 0.3rem;
    padding: 0 0.3rem;
    cursor: pointer;

    &.selected {
      text-decoration: underline;
      text-underline-position: under;
    }

    &.blinking {
      animation: blink-animation 1s infinite;
      -webkit-animation: blink-animation 1s infinite;
    }
  }
}

@keyframes blink-animation {
  to {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }
}
@-webkit-keyframes blink-animation {
  to {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }
}
