body {
  font-family: 'Rubik', cursive;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--color-primary);
}

textarea,
input,
button,
pre {
  font-family: 'Rubik', cursive;
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.text-secondary {
  font-size: 1rem;
}
